{% extends "layout.html"%}
{% block content%}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url(  {{url_for('static', filename='img/about-bg.jpg')}}   )">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Agro Aid</h1>
            <span class="subheading">It's a technological firm.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>The main aim of “TechFarm” is make an easier and online platform for New Entrepreneur, agricultural expert and farmer.</p>
        <p>To make a field where farmer, entrepreneur can take help over the call or massage from agricultural expert.</p>
        <p>To make an easy “Agro Mart” for New Entrepreneur and farmers, where they can rent expensive agricultural accessories. And they can buy or sells there accessories from each other.</p>
        <p>To make another platform where they can get information about agricultural lone for New Entrepreneur, given by government and some Bank in less interest.</p>

      </div>
    </div>
  </div>
{% endblock %}
 