{% extends "layout.html" %}
{% block content %}

<br>
<br>
<hr>
{% set image_name="img/"+product.image %}
<div class="col-lg-9">
  <div class="card mt-4">
    <img class="card-img-top img-fluid" src={{ url_for("static", filename= image_name)}} width="900" height="400" alt="">
    <div class="card-body">
      <h3 class="card-title">{{product.name}}</h3>
      <h4>{{product.price}}</h4>
      <p class="card-text">{{product.description}}</p>
    </div>
  </div>
  <!-- /.card -->

  <div class="card card-outline-secondary my-4">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <p>{{product.description}}</p>
      <small class="text-muted">Posted by Admin {{product.date}}</small>class="btn btn-success"
      <hr>
      <a class="cd-article-link btn btn-success" href="/order/{{product.sno}}">Order</a>

    </div>
  </div>
  <!-- /.card -->

</div>
<!-- /.col-lg-9 -->

</div>

</div>
<!-- /.container -->

{% endblock %}
