{% extends "layout.html"%}
{% block content%}
{% if "user" in session %}
<br>
<br>
<br>


<div class="container">
  <div class="main-body">
  
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{posts.first_name}}{{posts.last_name}}</h4>
                    <p class="text-secondary mb-1">{{posts.email}}</p>
                    <p class="text-muted font-size-sm">{{posts.mobile}}</p>
                    <a href="/logout"><button type="button" class="btn btn-info">Logout</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{posts.first_name}} {{posts.last_name}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{posts.email}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Mobile</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{posts.mobile}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <a href="/user_post"><button type="button" class="btn btn-info">Add Post</button></a>
                   
                  </div>
                  
                    <div class="col-sm-3">
                      <a href="/user_product"><button type="button" class="btn btn-info">product</button></a>
                     
                    </div>
                    
                    <div class="col-sm-3">
                      <a href="/user_timeline"><button type="button" class="btn btn-info">Timeline</button></a>
                       
                    </div>
                </div>
                <hr>
              </div>
          </div>
        </div>
      </div>
  </div>
{% endif %}

{% if "expert" in session %}
<br>
<br>
<br>


<div class="container">
  <div class="main-body">
  
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{posts.name}}</h4>
                    <p class="text-secondary mb-1">{{posts.email}}</p>
                    <p class="text-muted font-size-sm">{{posts.phone}}</p>
                    <a href="/logout_expert"><button type="button" class="btn btn-info">Logout</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{posts.name}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{posts.email}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Mobile</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{posts.phone}}
                  </div>
                </div>

              </div>
              
                <table class="table ">
                  <thead>
                    <tr class="table-primary">
                      <th scope="col">Expert Id</th>
                      <th scope="col">Person</th>
                      <th scope="col">Problem</th>
                      <th scope="col">Details</th>
                    </tr>
                  </thead>
                 
                  <tbody  >
              {% for experthelp in experthelps %}
                    <tr class="table-success">
                      <th scope="row">{{experthelp.expert_id}}</th>
                      <td>{{experthelp.person}}</td>
                      <td>{{experthelp.problem}}</td>
                      <td><a href="/problem_details/{{experthelp.sno}}"><button class="btn btn-success">details</button></a></td>
                      
                    </tr>

                  </tbody>
              {% endfor %}
                </table>
              

          </div>
        </div>
      </div>
  </div>
{% endif %}
{% endblock %}
 
 